.form-nav{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #e9ecef;
}
.form-nav a{
    color: #787878;
    font-size: 1.25em;
}
.form-view-container{
  width: 100%;
 
}
.form{
    box-shadow: 2px 2px 2px 2px #ddd;
    margin: -100px 25% 100px 25%;
    background: #fff;
    min-height: 300px;
}
.form-header{
  
}

.form-jumbotron{
    min-height: 250px;
}

.form-small{
    min-height: 250px;
    max-width: 280px;
    color: #8898aa;
    box-shadow: 2px 2px 2px 2px #ddd;
    position: relative;
    justify-content: center;
    text-align: left;
}
.form-small p{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-small iframe{
    display:block;
    width:100%;
    height: 100%;
    background: #ddd;
    overflow: hidden;
}

.form-small:hover, .form-small:active{
    cursor: pointer;
    border: 1px solid rgb(147, 62, 197);
}
.form-small>.title-section{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #787878;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.form-small>.title-section>header{
    color: #000;
    font-size: 1.1em;
}

.form-small>.title-section>.data{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.form-small>.title-section>.data>span>img{
    margin-right: 10px;
    width: 15px;
}

.form input{
    width: 100%;
    padding: 10px;
    color: #787878;
}
input{
    border: none;
    border-bottom: 1px solid #ddd;

}

input:hover, input:active, input:focus{
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #6772e5;
    transition: all 1000ms ease-in-out;
    color: #6772e5;
}

input:hover::placeholder {
    color: #787878;
}

input:hover::placeholder, input:active::placeholder, input:focus::placeholder{
    color: #6772e5;
}

#description{
    font-size: 1em;
}
#title{
    font-size: 2em;
}

.question{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    background: #fff;  
    min-height: 200px;
    padding: 20px; 
}

.question:hover, .question:active, .question:focus{
  outline: none;
  border-left: 2px solid #6772e5;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.question header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.question header input{
    width: 70%;
}

.question header select{
    height: 40px;
    border: none;
    background-color: #f2efef;
    padding: 10px;
    color: #787878;
}

.question header select:focus, .question header select:active, .question header select:hover{
  outline: none;
  cursor: pointer;
}

.question header select option{
    background-color: #f2efef;
    border: none; 
}

.question header select:focus > option:checked { 
    background: #000 !important;
}

select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
}
.question main{

}
.question footer{
visibility: hidden;
}
.question footer ul{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}
.question footer ul li{
    margin: 10px;
    color: #787878;
}

.question footer ul li:hover, .question footer ul li:active{
    cursor: pointer;
    color: #565555;
}

.question .question-title{
    border-bottom: none;
}
.question:hover .question-title, .question:active .question-title, .question:focus .question-title{
    border-bottom: 1px solid #ddd;
}
.question:hover .question-title:focus, .question:hover .question-title:active, .question:hover .question-title:hover{
    border-bottom: 1px solid #6772e5;
    transform: all 1000ms ease-in;
}

.question main .multiple{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.question .multiple input[type="radio"]{
    width: 20px;
    margin: 10px;
}
.question .multiple input[type="text"]{
    width: 50%;
    margin: 10px;
}

.question:active footer, .question:focus footer, .question:hover footer{
    visibility: visible !important;
}
.question footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.addquestion{
    max-width: 10px;
    height: 50px;
    padding: 15px;
    margin-left: 20%;
    box-shadow:  2px 2px 2px 2px #ddd;
}
