
body{
    color: #8898aa;
}
a:hover, a:active{
  color: #5b2c77;
  text-decoration: none;
}
.nav-brand-color{
    color: rgb(147, 62, 197);
    font-size: 1.25em;
}
.jumbotron{
    border-radius: 0;
}
.add-form{
    min-height: 250px;
    color: #fff;
}

.add-containers{
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px), 1fr);
    grid-gap: 10px;
}

.add-containers>.add-container-elements{
    height: 123px;
    width: 164px;
    background-color: #fff;
    background-image: url('./assets/icons/plus.png');
    background-repeat: no-repeat;   
    background-position: center center;

}

.form-container{
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.add-containers>.add-container-elements:hover, .add-containers>.add-container-elements:active{
    cursor: pointer;
    border: 2px solid rgb(147, 62, 197);
}

.btn-google{
    min-width: 200px;
    color: #fff;
    background-color: #cb3837;
}

.btn-google>.text{
    margin: 0 10px;
}

.btn-google:hover, .btn-google:active{
    color: #fff;
    background-color: #962c2b;
}

.pagenotexist{
    color: rgb(147, 62, 197);
    font-size: 1.25em; 
}

.pagenotexistcontainer{
     display: flex;
   align-items: center; 
   justify-content: center;
}